<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016. Embedded Real-Time Computation Lab Of UESTC.
  ~
  ~ 版权所有：电子科技大学・信息与软件工程学院・嵌入式实时计算研究所（简称ERCL）
  ~ http://www.is.uestc.edu.cn
  ~
  ~ 未经许可，任何其他组织或个人不得将此程序——
  ~ 1、用于商业用途。
  ~ 2、修改或再发布。
  -->
<Configuration name="log4j2_uestc_ercl_znsh_platform" status="info" strict="true" monitorInterval="86400">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%p] %c.%M(%L) :: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>